@using Microsoft.AspNetCore.Identity;
@using Microsoft.Extensions.Options;
@using NicoRealSolution.Areas.Identity.Data;

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@model IEnumerable<Property>
@{
    ViewData["Title"] = "Proprietăți";

    Pager pager = new Pager();

    int pageNo = 0;

    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="advanced search, agency, agent, classified, directory, house, listing, property, real estate, real estate agency, real estate agent, realestate, realtor, rental">

    <!-- css file -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/ace-responsive-menu.css">
    <link rel="stylesheet" href="~/css/ace-responsive-menu.css">
    <link rel="stylesheet" href="~/css/menu.css">
    <link rel="stylesheet" href="~/css/fontawesome.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/css/ud-custom-spacing.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="~/css/responsive.css">
    
    <!-- Favicon -->
    
    <!-- Apple Touch Icon -->
    <link href="~/images/apple-touch-icon-60x60.png" sizes="60x60" rel="apple-touch-icon">
    <link href="~/images/apple-touch-icon-72x72.png" sizes="72x72" rel="apple-touch-icon">
    <link href="~/images/apple-touch-icon-114x114.png" sizes="114x114" rel="apple-touch-icon">
<link href="~/images/apple-touch-icon-180x180.png" sizes="180x180" rel="apple-touch-icon">
<style>
#divItem{
    height: 240px;
    width: 280px;
}

#divItem img{
     min-height: 100%;
     min-width:100%;

}

    .list-sidebar-style1{
    border-style: groove;
    border-color: red;
    }
</style>

    <div class="wrapper ovh">

        <!-- Main Header Nav -->
        <header class="header-nav nav-innerpage-style main-menu">
            <!-- Ace Responsive Menu -->
            <nav class="posr">
                <div class="container posr menu_bdrt1">
             
                <div class="d-flex align-items-center justify-content-between">
                        <div class="col-auto">
                        <a class="header-logo" href="@Url.Action("Index", "Property")"><img src="~/images/MyLogoDark.svg" alt="Header Logo"></a>
                        </div>
                        <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
                                    <li class="visible_list">
                            <a class="list-item" href="@Url.Action("Index", "Property")"><span class="title">Acasă</span></a>
                                        <!-- Level Two-->
                                <li class="megamenu_style">
                            <a class="list-item" href="@Url.Action("Listings", "Property")"><span class="title">Toate anunțurile</span></a>
                                </li>
                                 @if (User.Identity.IsAuthenticated)
                                    {
                        <li class="megamenu_style">
                                <a class="list-item" href="@Url.Action("Create", "Property")"><span class="title"><span style="color:red">Adaugă anunț</span></span></a>
                        </li>
                                    }

                                </ul>

                        <div class="col-auto">
                            <div class="d-flex align-items-center">
                            <a class="login-info d-flex align-items-center me-3" href=""><i class="far fa-phone fz16 me-2"></i> <span class="d-none d-xl-block d-md-block d-lg-block">+43 665 65 66 7000</span></a>
                            </div>
                        </div>
                    </div>
              
                </div>
            </nav>
        </header>
        <!-- Signup Modal -->
        <!-- Menu In Hiddn SideBar -->
        <!--End Menu In Hiddn SideBar -->
        <!-- Filter Content In Hiddn SideBar -->
        <div class="lefttside-hidden-bar">
            <div class="hsidebar-header">
                <div class="sidebar-close-icon"><span class="far fa-times"></span></div>
            </div>
            <div class="hsidebar-content">
                <div class="widget-wrapper">
                    <h6 class="list-title">Filtrare</h6>
                    <div class="search_area">
                    <input type="text" class="form-control" placeholder="Ce cauți?">
                        <label><span class="flaticon-search"></span></label>
                    </div>
                </div>
                <div class="widget-wrapper">
                    <h6 class="list-title">Categorie</h6>
                    <div class="checkbox-style1">
                        <label class="custom_checkbox">
                            Case/Vile
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom_checkbox">
                            Apartamente
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom_checkbox">
                            Terenuri
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom_checkbox">
                            Hoteluri
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom_checkbox">
                        Investiții
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="widget-wrapper">
                <h6 class="list-title">Preț</h6>
                    <!-- Range Slider Mobile Version -->
                    <div class="range-slider-style2">
                        <div class="range-wrapper">
                            <div class="mb30 mt35" id="slider"></div>
                            <div class="d-flex align-items-center">
                                <span id="slider-range-value1"></span><i class="fa-sharp fa-solid fa-minus mx-2 dark-color icon"></i>
                                <span id="slider-range-value2"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-wrapper advance-feature-modal">
                <h6 class="list-title">Locație</h6>
                    <div class="form-style2 input-group">
                        <select class="selectpicker" data-width="100%">
                            <option>All</option>
                            <option >Romania</option>
                            <option >Austria</option>

                        </select>
                    </div>
                </div>
                <div class="widget-wrapper">
                <h6 class="list-title">Suprafață</h6>
                    <div class="space-area">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="form-style1">
                                <input type="text" class="form-control" placeholder="Min.">
                            </div>
                            <span class="dark-color">-</span>
                            <div class="form-style1">
                                <input type="text" class="form-control" placeholder="Max">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget-wrapper">
                    <div class="btn-area d-grid align-items-center">
                    <button class="ud-btn btn-thm"><span class="flaticon-search align-text-top pr10"></span>Caută</button>
                    </div>
                </div>
                <div class="reset-area d-flex align-items-center justify-content-between">
                    <a class="reset-button" href="#"><span class="flaticon-turn-back"></span><u>Reseteaza filtrele</u></a>
                    
                </div>
            </div>
        </div>
        <!--End Filter Content In Hiddn SideBar -->

        <div class="hiddenbar-body-ovelay"></div>

        <!-- Mobile Nav  -->
        <div id="page" class="mobilie_header_nav stylehome1">
            <div class="mobile-menu">
                <div class="header innerpage-style">
                    <div class="menu_and_widgets">
                        <div class="mobile_menu_bar d-flex justify-content-between align-items-center">
                        <a class="mobile_logo" href="@Url.Action("Index", "Property")"><img src="~/images/MyLogoDark.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.mobile-menu -->
            <!-- Only for Mobile View -->

        </div>

        <div class="body_content">
            <!-- Breadcumb Sections -->
            <section class="breadcumb-section bgc-f7">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcumb-style1">
                            <h2 class="title">Caută o proprietate</h2>
                                <div class="breadcumb-list">
                                <a href="@Url.Action("Index", "Property")">Acasă</a>
                                </div>
                                <a href="" class="filter-btn-left mobile-filter-btn d-block d-lg-none"><span class="flaticon-settings"></span> Filtre</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Property All Lists -->
            <section class="pt0 pb90 bgc-f7">
                <div class="container">
                    <div class="row gx-xl-5">
                        <div class="col-lg-4 d-none d-lg-block">
                            <div class="list-sidebar-style1">
                                <div class="widget-wrapper">
                                <h6 class="list-title">Filtrare<span style="color:red">(ÎN CURÂND)</span></h6>
                                    <div class="search_area">
                                    <input type="text" class="form-control" placeholder="Ce cauți?">
                                        <label><span class="flaticon-search"></span></label>
                                    </div>
                                </div>

                                <div class="widget-wrapper">
                                    <h6 class="list-title">Categorie</h6>
                                    <div class="checkbox-style1">
                                        <label class="custom_checkbox">
                                            Case/Vile
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="custom_checkbox">
                                            Apartamente
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="custom_checkbox">
                                            Terenuri
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="custom_checkbox">
                                            Hoteluri
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="custom_checkbox">
                                        Investiții
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="widget-wrapper">
                                <h6 class="list-title">Preț</h6>
                                    <!-- Range Slider Desktop Version -->
                                    <div class="range-slider-style1">
                                        <div class="range-wrapper">
                                            <div class="slider-range mt30 mb20"></div>
                                            <div class="text-center">
                                                <input type="text" class="amount" placeholder="€20"><span class="fa-sharp fa-solid fa-minus mx-2 dark-color"></span>
                                                <input type="text" class="amount2" placeholder="€70987">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-wrapper advance-feature-modal">
                                <h6 class="list-title">Locație</h6>
                                    <div class="form-style2 input-group">
                                        <select class="selectpicker" data-width="100%">
                                            <option>All</option>
                                            <option >Romania</option>
                                        <option>Austria</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="widget-wrapper">
                                <h6 class="list-title">Suprafață</h6>
                                    <div class="space-area">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="form-style1">
                                                <input type="text" class="form-control" placeholder="Min.">
                                            </div>
                                            <span class="dark-color">-</span>
                                            <div class="form-style1">
                                                <input type="text" class="form-control" placeholder="Max">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-wrapper">
                                    <div class="btn-area d-grid align-items-center">
                                    <button class="ud-btn btn-thm"><span class="flaticon-search align-text-top pr10"></span>Caută</button>
                                    </div>
                                </div>
                                <div class="reset-area d-flex align-items-center justify-content-between">
                                <a class="reset-button" href="#"><span class="flaticon-turn-back"></span><u>Reseteaza filtrele</u></a>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row align-items-center mb20">
                                <div class="col-sm-6">
                                    <div class="text-center text-sm-start">
                                        <p class="pagination_page_count mb-0">@ViewBag.Results Rezultate</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="page_control_shorting d-flex align-items-center justify-content-center justify-content-sm-end">
                                        <div class="pcs_dropdown pr10">
                                        <span>Sortează</span>
                                            <select class="selectpicker show-tick">
                                                <option>Nou postate</option>
                                                <option>Preț crescator</option>
                                            <option>Preț descrescator</option>
                                            </select>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row mt15">
                                @foreach(var prop in Model) {
                                <div class="col-lg-12">
                                    <div class="listing-style1 listing-type">
                                        <a asp-action="Details" asp-controller="Property" asp-route-id="@prop.Id" >
                                        <div id="divItem" class="list-thumb flex-shrink-0">
                                            @if (!string.IsNullOrEmpty(prop.PhotoGuids))
                                            {
                                                var photoNames = prop.PhotoGuids.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                                var firstPhoto = photoNames.FirstOrDefault();
                                                    <img class="w-100" src="@Url.Action("GetImagesDetails", "Property", new { key = firstPhoto })" alt="">
                                            }else{
                                                 <img class="w-100" src="~/images/listings/list-1.jpg" alt="">
                                            }
                                            @if (prop.IsFeatured == "Da")
                                            {
                                                <div class="list-tag fz12"><span class="flaticon-electricity me-2"></span>RECOMANDAT</div>
                                            }
                                            <div class="list-price">@prop.Price €</div>
                                        </div>
                                        </a>
                                        <div class="list-content flex-shrink-1">
                                            <h6 class="list-title"><a href="@Url.Action("Details", "Property", new { id = prop.Id })">@prop.Title</a></h6>
                                            <p class="list-text">@prop.City , @prop.Country</p>
                                            <div class="list-meta d-flex align-items-center">
                                                <a href="@Url.Action("Details", "Property", new { id = prop.Id })"><span class="flaticon-home"></span>@prop.Category</a>
                                                @if (prop.Surface != null)
                                                {
                                                    <a href="@Url.Action("Details", "Property", new { id = prop.Id })"><span class="flaticon-expand"></span>@prop.Surface mp</a>
                                                }
                                                @if (prop.Bathrooms != null)
                                                {
                                                    <a href="@Url.Action("Details", "Property", new { id = prop.Id })"><span class="flaticon-bed"></span>@prop.Rooms camere</a>
                                                }

                                                @if (prop.Bathrooms != null)
                                                {
                                                    <a href="@Url.Action("Details", "Property", new { id = prop.Id })"><span class="flaticon-shower"></span>@prop.Bathrooms bai</a>
                                                }
                                                
                                               
                                            </div>

                                                @if (prop.Description != null)
                                                {
                                                    string description = prop.Description;
                                                    string[] words = description.Split(new[] { ' ' }, StringSplitOptions.RemoveEmptyEntries);
                                                    string first10Words = string.Join(" ", words.Take(15));
                                                    <p class="list-text2">@first10Words </p>
                                                }                                           

                                        </div>
                                    </div>
                                </div>
                                }
                            
                                
                            </div>
                            <div class="row">
                                <div class="mbp_pagination text-center">
                                    <ul class="page_navigation">
                                    <li class="page-item">
                                        <a class="page-link" asp-controller="Property" asp-action="Listings" asp-route-pg="1"> <span class="fas fa-angle-double-left"></span></a>
                                    </li>
                                    @if (pager.CurrentPage > 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-controller="Property" asp-action="Listings" asp-route-pg=@(pager.CurrentPage - 1)> <span class="fas fa-angle-left"></span></a>
                                        </li>
                                    }
                                    @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                                          {
                                        <li class="page-item @(pge == pager.CurrentPage ? "active" : "")" aria-current="@(pge == pager.CurrentPage ? "page" : "")" >
                                            <a class="page-link" asp-controller="Property" asp-action="Listings" asp-route-pg="@pge">@pge</a>
                                             </li>

                                          }
                                          @if(pager.CurrentPage < pager.TotalPages){
                                        <li class="page-item">
                                        <a class="page-link" asp-controller="Property" asp-action="Listings" asp-route-pg=@(pager.CurrentPage + 1)><span class="fas fa-angle-right"></span></a>
                                        </li>
                                          }
                                         <li class="page-item">
                                        <a class="page-link" asp-controller="Property" asp-action="Listings" asp-route-pg=@(pager.TotalPages)><span class="fas fa-angle-double-right"></span></a>
                                         </li>
                                    
                                    </ul>
                                    <p class="mt10 pagination_page_count text-center"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Our Footer -->
            <section class="footer-style1 pt60 pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="footer-widget mb-4 mb-lg-5">
                            <a class="footer-logo" href="@Url.Action("Index", "Property")"><img class="mb40" src="~/images/MyLogoWhite.svg" alt=""></a>
                                <div class="row mb-4 mb-lg-5">
                                    <div class="col-auto">
                                        <div class="contact-info">
                                            <p class="info-title">Contacteaza-ne</p>
                                        <h6 class="info-phone"><a href="">+43 665 65 66 7000</a></h6>
                                        </div>
                                    </div>

                                </div>

                                <div class="social-widget">
                                    <h6 class="text-white mb20">Follow us on social media</h6>
                                    <div class="social-style1">
                                        <a href=""><i class="fab fa-facebook-f list-inline-item"></i></a>
                                        <a href=""><i class="fab fa-twitter list-inline-item"></i></a>
                                        <a href=""><i class="fab fa-instagram list-inline-item"></i></a>
                                        <a href=""><i class="fab fa-linkedin-in list-inline-item"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="container white-bdrt1 py-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="text-center text-lg-start">
                                <p class="copyright-text text-gray ff-heading">© NicoReal - All rights reserved</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a>
        </div>
    </div>
    <!-- Wrapper End -->
    <script src="~/js/jquery-3.6.4.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/jquery.mmenu.all.js"></script>
    <script src="~/js/ace-responsive-menu.js"></script>
    <script src="~/js/jquery-scrolltofixed-min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/pricing-slider.js"></script>
    <!-- Custom script for all pages -->
    <script src="~/js/script.js"></script>

